<div class="help" id="group_identity">

<p>
Enter a group name and description. A group name should be distinct enough to
recognize within a potential list of other group and individual names. The
Description allows detailed text about the named group.
</p>

<p>
Create a descriptive name for the group which will clearly distinguish it from
other groups you or others may create. For example, a name such as
<em>Statistics Redelegated Promo</em> could be used to reflect the department
name and the type of action its members are being selected to review. The group
name can have a maximum length of 25 characters.
</p>
</div>
