    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--meta http-equiv="Refresh" content="14400; URL=/miv/logout?timeout"-->
    <meta name="robots" content="none">
    <meta name="googlebot" content="noarchive">
    
    <link rel="icon" href="<c:url value='/images/favicon.ico'/>" type="image/x-icon" />
    
    <script type="text/javascript" src="/miv/js/jquery.js"></script>
    <script type="text/javascript" src="/miv/js/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="/miv/js/jquery.custom.js"></script>
    <script type="text/javascript" src="/miv/js/modernizr.custom.min.js"></script>
    
    <!-- jquery-ui.miv.css extends jquery-ui.custom.css -->
    <link rel="stylesheet" type="text/css" href="/miv/css/jquery-ui.miv.css">    
    <link rel="stylesheet" type="text/css" href="/miv/css/miv.css">
    <!-- miv-ui.css includes miv-theme.css -->
    <link rel="stylesheet" type="text/css" href="/miv/css/miv-ui.css">
    