li .memberedit {
    display: none;
}

#assigned li:hover .memberedit {
    display: inline-block;
    text-decoration: none;
}

#main #available td.selectable > div > ul > li.selectable:hover {
    padding: 0px;
    padding-bottom: 1px;
    margin: 0px;
    margin-left: .25em;
    box-shadow: none;
    /* These override other rules for box shadows, as they are undesired on the available table. */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
