/* ----- Style sheet for association page ----- */

@CHARSET "UTF-8";

body, #main {
	/* min-height: 19em; */
	padding: 0;
	background-color: #F2EBCC;
	overflow: hidden;
}

#main {
	min-height : auto;
}

html.SYS_ADMIN.prod body #main {
	background-color: #FFDDDD;
}


.availableblock {
	float: left;
	width: 23.5em;
}

.selectedblock {
	display:block;
	float: left;
	width: 23.5em;
}

.availableblock .legend,
.selectedblock .legend {
	font-family: Verdana,Geneva,Helvetica,Arial,sans-serif;
	color: #002666;
	font-size: 900;
	font-weight: bold;
	text-align: left;
}

.togglebuttons {
	float: left;
	width: 2em;
	margin: 4em 1.6em 0 1em;
}

.togglespace {
	float: left;
	width: 4.5em;
}

.searchbox {
	padding:0 0 0.3em 0;
}

#available, #selected {
	background-color: #FFFFFF;
	width: 23.5em;
	overflow: auto;
	height: 15.3em;
	overflow-y: scroll;
}

#available option, #selected option {
	/* padding: 0.3em 0 0.3em 0.2em; */
	margin: 0.1em 0;
}

#available option.odderror, #selected option.odderror {
	background-color: #DEDFFD;
	/* border: 1px solid #D53344; */
	background-color: #D87983;
}

#available option.evenerror, #selected option.evenerror {
	background-color: #ECEDFF;
	/* border: 1px solid #D53344; */
	background-color: #DA959C;
}

#available option.odd, #selected option.odd {
	background-color: #DEDFFD;
}

#available option.even, #selected option.even {
	background-color: #ECEDFF;
}

#available option[value ^= "events"],
#selected option[value ^= "events"] {
	color: #0B3861;
}

#available option[value ^= "works"],
#selected option[value ^= "works"] {
	color: #29088A;
}

#main #available option[class ="error"] {
	color: #D53344;
}


#main .associationrule {
	color: #660000;
	margin: 0.1em 0 0.5em;
}

#main .ruletitle {
	font-size: 1.1em;
}

#main .ruledescription {
	font-size: 1em;
	font-style: italic;
}

#main #txtsearchavailable, #main #txtsearchselected
{
	min-height: 1.4em;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
