#main .wideDialog {
	min-width: 70em;
}

#main #wizardsteps {
	clear: both;
	display: block;
}

#main #wizardsteps p {
	font-style: italic;
}

#main #wizardsteps .activestep {
	clear: both;
	font-size: 1em;
	font-weight: 900;
	padding-left: 2.5em;
	margin: 0;
	background: #FFFFFF url(/miv/images/steparrow.jpg) no-repeat 0% 0%;
}

/*.formlabel span.checkbox {

}

.formlabel span.radiobutton {

}*/

.formlabel span.radioset {
	padding-right: 0.5em;
}

.step {
	font-weight: 900;
}

.documentname {
	color: #92453C;
	font-weight: bold;
	float: left;
}

.duplicate {
	float: right;
	margin-right: 1px;
}

#cancelurl {
	display: none;
}

h1.biosketchheader {
	/* padding-bottom: 0px !important; */
}


#main #wizardsteps .inactivestep {
	clear: both;
	font-size: 1em;
	padding-left: 2.5em;
	margin: 0;
	color: #597188;
}

.formsection {
	color: #000000;
	font-weight: bold;
	vertical-align: middle;
	float: left;
	margin-right: 1.5ex;
	margin-top: 1em;
	clear: both;
}

.formlabel {
	color: #000000;
	margin-left: 0.5ex;
	margin-bottom: 0.5ex;
	clear: both;
}

.formlabel span.textfield {
	margin-right: 1.5ex;
}

.attributepreview {
	color: black;
	font-weight: bold;
	padding-right: 0.5em;
}

/* three columns for cv biosketch */
#main .biosketchblock {
	background-color: transparent;
	margin: 0 1em 0 0;
	-moz-column-count: 3;
	-moz-column-gap: 1em;
	-webkit-column-count: 3;
	-webkit-column-gap: 1em;
	column-count: 3;
	column-gap: 1em;
}

/* two columns for nih biosketch */
#main .nih.biosketchdata .biosketchblock {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

#main .biosketchlist {
	list-style-type: none;
	padding: 0;
}

#main .biosketchlist li {
	line-height: normal;
	margin: 0;
	padding: 1px 0;
	overflow: hidden;
	width: 23em;
}

#main #checklist input[type="radio"],
#main #checklist input[type="checkbox"] {
	vertical-align: top;
	margin: 0 0.5em;
}

#main .biosketchlist label {
	display: inline-block;
	vertical-align: top;
	width: 20em;
}

#main .biosketchlist input {
	margin: 0.2em 0.5em 0 0;
}

#main .biosketchdata {
	margin: 0.1em 0 0.75em;
}

#listarea li.records {
	margin-left: 0;
}

#listarea ul.mivrecords {
	margin-right: 0;
}

#main #biosketchform .buttonset input {
	margin-right: 0.25em;
}

#main #biosketchform .linktobutton {
	margin-right: 0.25em;
}
/* vim:ts=8 sw=8 noet sr:
*/
