/*
 * Style for confirmlaunchaction.jsp
 */


/*
 * explanation message
 */
.reason {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: inherit;
}

.select {
	padding-left: 1em;
	padding-top: 3em;
	padding-bottom: 1em;
}