/*
 * jQuery UI specific styling
 * Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
 */

@import url("/miv/css/data_table_themes.css");

.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
}

.dataTables_paginate .ui-button {
	margin-right: -0.1em !important;
}

.paging_full_numbers {
	min-width: 20em !important;
}

.dataTables_wrapper .ui-toolbar {
	padding: 5px;
	min-width: 50em;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_info {
	padding-top: 3px;
}

table.display thead th {
	padding: 0.5em;
	text-align: left;
}

table.dataTable thead th {
	padding: 0.2em;
}

table.dataTable thead th {
	cursor: pointer;
	* cursor: hand;
}

div.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}

/*
 * Sort arrow icon positioning
 */
table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding: 0.25em 1em 0.2em 0;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: auto;
	_height: auto;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	min-width: 10em;
	float: left;
	clear: both;
	padding: 2px 0 0 6px;
}

.dataTables_filter {
	min-width: 20em;
	float: right;
	text-align: right;
	margin-top: 0.05em;
	margin-bottom: 0.05em;
	height: 2em;
}

.dataTables_info {
	width: 40%;
	float: left;
	min-width: 17em;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('/miv/images/jquery-ui/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('/miv/images/jquery-ui/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('/miv/images/jquery-ui/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('/miv/images/jquery-ui/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	border: 1px solid #cbc7bd;
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	/*border-bottom: 0px;
	border-top: 0px;*/
	border-bottom: none;
	border-top: none;
	min-width: 50.9em;
}

table.display th {
	border: 1px solid #cbc7bd;
	background: #f8f7f6 url(/miv/images/jquery-ui/ui-bg_fine-grain_10_f8f7f6_60x60.png) 50% 50% repeat;
	font-weight: bold;
	color: #654b24;
	outline: none;
	/*border-top: 0px;*/
	/*border-top: none;*/ /* moved to html.js rule, below */
}

table.display th {
	border: 1px solid #cbc7bd;
	background: #f8f7f6 url(/miv/images/jquery-ui/ui-bg_fine-grain_10_f8f7f6_60x60.png) 50% 50% repeat;
	font-weight: bold;
	color: #654B24;
	outline: none;
	height: 1.75em;
}

html.js table.display th {
	border-top: none;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

/*
 * When Datatables is present hide the original footer.
 */
html.js tfoot th.ui-state-default {
	display: none;
}

html.js table.display tfoot th {
	border-bottom: medium none;
	border-top: 1px solid #CBC7BD;
}

table.display tfoot th {
	padding: 3px;
	font-weight: bold;
	font-weight: normal;
}

#main table.display tfoot th input[type="text"] {
	float: left;
	padding: 0 20px 0 10px;
	width: 50%;
}

#main table.display .filterdiv {
	display: block;
	min-width: 6em;
	width: 125%;
}

#main table.display tfoot th .filter_column {
	color: #999999;
}

#main table.display tfoot th .active {
	color: #000000;
}

#main table.display tfoot th input[type="image"] {
	float: left;
	height: 16px;
	left: -20px;
	outline: medium none;
	position: relative;
	top: 4px;
	width: 16px;
}

#main input[type="image"] {
	background-color: transparent;
	border: medium none;
	min-height: 16px;
	min-width: 16px;
	outline: medium none;
}

table.display tfoot tr {
	background-color: #424242;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 0.2em;
}

table.display td.center {
	text-align: center;
}

table.display tbody tr, table.display tbody td {
	 border: 1px solid #CBC7BD;
}

table.dataTable tbody tr, table.dataTable tbody td {
	 border-bottom-width: 0px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
.sorting_asc {
	background: url('/miv/images/jquery-ui/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('/miv/images/jquery-ui/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('/miv/images/jquery-ui/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('/miv/images/jquery-ui/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('/miv/images/jquery-ui/sort_desc_disabled.png') no-repeat center right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}

tr.odd { /* ??? This rule is always overridden by another tr.odd below */
	/*background-color: #F6EFD7;*/
	background-color: #F2EBCC;
}

tr.even { /* ??? This rule is always overridden by another tr.even below */
	background-color: #F4F1E8;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

.datatable_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

tr.odd {
	/*background-color: #F6EFD7;*/
	background-color: #F2EBCC;
}

tr.even {
	background-color: #FFFFFF;
}
/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #DEDFFD;
}

tr.odd td.sorting_2 {
	background-color: #DEDFFD;
}

tr.odd td.sorting_3 {
	background-color: #DEDFFD;
}

tr.even td.sorting_1 {
	background-color: #ECEDFF;
}

tr.even td.sorting_2 {
	background-color: #ECEDFF;
}

tr.even td.sorting_3 {
	background-color: #ECEDFF;
}

/* For the Conditional-CSS grading rows */
/*
	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}

/*
 * Row highlighting example
 */
/*table.display tbody tr.even:hover, table.display tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

table.display tbody tr.odd:hover, table.display tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}
*/
table.display tr.even:hover, table.display tr.odd:hover {
	background-color: #D3D6FF;
}

table.display tr:hover td.sorting_1,
table.display tr:hover td.sorting_2,
table.display tr:hover td.sorting_3,
table.display tr.hover td.sorting_1,
table.display tr.hover td.sorting_2,
table.display tr.hover td.sorting_3 {
	background-color: #ABB1FC;
}

/* Row Active -- row is selected, or this is an Active user */
table.display tr.row_active {
	font-weight: bold;
}

table.display tr.row_active.even {
	background-color: #EEFFEE;
}

table.display tr.row_active.even:hover,
table.display tr.row_active.even:hover td.sorting_1,
table.display tr.row_active.even:hover td.sorting_2,
table.display tr.row_active.even:hover td.sorting_3 {
	background-color: #ABB1FC;
}

table.display tr.row_active.odd {
	background-color: #DDFFDD;
}

table.display tr.row_active.odd:hover {
	background-color: #D3D6FF;
}

table.display tr.row_active.odd:hover td.sorting_1,
table.display tr.row_active.odd:hover td.sorting_2,
table.display tr.row_active.odd:hover td.sorting_3 {
	background-color: #ABB1FC;
}

/* Rows for Inactive people in Utilities */
table.utility tr.row_inactive {
	color: #585858;
}

table.utility tr.row_inactive.odd {
	background-color: #F2EBCC;
}

table.utility tr.row_inactive.even {
	background-color: #FFFFFF;
}

table.utility tr.row_inactive.even:hover,
table.utility tr.row_inactive.even:hover td.sorting_1,
table.utility tr.row_inactive.even:hover td.sorting_2,
table.utility tr.row_inactive.even:hover td.sorting_3 {
	background-color: #ABB1FC;
}

table.utility tr.row_inactive.odd:hover {
	background-color: #D3D6FF;
}

table.utility tr.row_inactive.odd:hover td.sorting_1,
table.utility tr.row_inactive.odd:hover td.sorting_2,
table.utility tr.row_inactive.odd:hover td.sorting_3 {
	background-color: #ABB1FC;
}

/* Row for Active people in Utilities */
table.utility tr.row_active {
	font-weight: bold;
}

table.utility tr.row_active.odd {
	background-color: #F2EBCC;
	color: #004400;
}

table.utility tr.row_active.even {
	background-color: #FFFFFF;
	color: #004400;
}

table.utility tr.row_active.even:hover,
table.utility tr.row_active.even:hover td.sorting_1,
table.utility tr.row_active.even:hover td.sorting_2,
table.utility tr.row_active.even:hover td.sorting_3 {
	background-color: #ABB1FC;
}

table.utility tr.row_active.odd:hover {
	background-color: #D3D6FF;
}

table.utility tr.row_active.odd:hover td.sorting_1,
table.utility tr.row_active.odd:hover td.sorting_2,
table.utility tr.row_active.odd:hover td.sorting_3 {
	background-color: #ABB1FC;
}

/*
#main .float_right {
	float: right;
	margin-top: 0.2em;
	margin-right: 0.5em;
	azimuth: center-right;
	min-width: 1em;
}
*/
#main .display-block {
	display: block;
}

#main .display-none {
	display: none;
}

/*
 * Datatable Features css
 */

/* hide normally */
.datatable_features {
	display: none;
}
/* but show when javascript is enabled */
html.js .datatable_features {
	display: block;
	clear: both;
	position: relative;
	min-width: 40em;
	margin-bottom: 0.5em;
}

/* datatable features css */
.datatable_features .featuresHeader {
	border-top:0;
}

.datatable_features .featuresTitle {
	line-height: 1.25em;
	float: left;
	text-align: left;
	width: 85%;
	azimuth: center;
	vertical-align: middle;
}

.datatable_features .tips {
	margin-left: 0.5em;
	float: left;
	text-align: left;
	min-width: 20em;
}

.datatable_features .expand_collapse {
	line-height: 1.5em;
	float: left;
	padding: 1px;
	cursor: pointer;
}

.datatable_features div.featuresDescription {
	border: 1px solid #cbc7bd;
	margin: 0 auto;
	clear: both;
	border-collapse: collapse;
	height: auto;
	border-top: 0px;
}

.datatable_features div.featuresDescription ul {
	list-style-type: square;
	line-height: 1.5em;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}

.datatable_features div.featuresDescription ul li {
	padding: 0.1em;
}

.datatable_features div.featuresDescription ul span.details {
	min-width: 70em;
	color: blue;
}

.datatable_features div.featuresDescription ul span.key {
	min-width: 10em;
	color: black;
	font-weight: bold;
}

.datatable_features div.featuresDescription ul li span.color_code {
	width: 1em;
	height: 1em;
	border: 1px solid #cbc7bd;
	background-color: #FFFFFF;
	margin-right: 0.5em;
}

.datatable_features .expand_collapse {
	float: left;
	margin-left: 0.25em;
	margin-top: 0.05em;
	margin-bottom: 0.05em;
	azimuth: center-right;
	/*min-width: 1em;
	min-height: 1em;*/
}

/* Mac-like Find/Filter field and clear button */
#main div.dataTables_filter input.reset-button,
#main div.filterdiv input.reset-button {
	background-color: transparent;
	float: right;
	height: 16px;
	outline: medium none;
	position: relative;
	right: 1.6em;
	top: 4px;
	width: 16px;
	border: 0;
	outline: medium none;
}

#main div.filterdiv input.reset-button {
	float: none;
}

#main div.dataTables_wrapper input.reset-button.ui-icon {
	background-image: url("/miv/images/jquery-ui/ui-icons_888888_256x240.png");
}

#main div.dataTables_wrapper input.reset-button.ui-icon:hover,
#main div.dataTables_wrapper input.reset-button.ui-icon:focus {
	background-image: url("/miv/images/jquery-ui/ui-icons_2694e8_256x240.png");
}

#main div.dataTables_filter .inputtext input, #main table.display tfoot th input[type="text"] {
	height: 1.75em;
	vertical-align: middle;
	border: 1px solid #999;
	padding-left: 0.5em;
	-ms-border-radius: 1em;
	-webkit-border-radius: 1em;
	-o-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	-moz-box-shadow: 1px 1px 3px 1px #bbb inset;
	box-shadow: 1px 1px 3px 1px #bbb inset;
	min-width: 2em;
}

#main div.dataTables_filter .inputtext input:focus, #main table.display tfoot th input[type="text"]:focus {
	border: 1px solid #3079ED;
	-moz-box-shadow: 1px 1px 3px 1px #B5D0FB inset;
	box-shadow: 1px 1px 3px 1px #B5D0FB inset;
}
/* end Mac-like */


/* custom data tables style */


/* assignment records (see /js/definitions.js) */
td.selectable > fieldset {
	position: absolute;
	right: 0.5em;
	border: none;
	padding: 0;
	margin: 0;
	display: none;
}
td.selectable:hover > fieldset, tr.hover td.selectable > fieldset {
	display: block;
}
td.selectable > div {
	float: left;
}
td.selectable > div.description > div {
	font-style: italic;
	margin-right: 1.5em;
	height: 1.5em;
	text-overflow:ellipsis;
	overflow: hidden;
	padding-right: 0.5em;
}
td.selectable > div.group {
	width: 20em;
}
td.selectable > div.group > span {
	font-weight: bold;
}
td.selectable > div .inactive {
	text-decoration: line-through;
}
td.selectable > div > ul {
	display:none;
}
#main td.selectable > div > ul > li.selectable {
	margin-left: .25em;
	line-height: 1.5em;
}
#main td.selectable > div > ul > li.selectable:hover,
#main td.selectable > div > ul > li.selectable.hover {
	padding: .5em;
	margin: -.5em 0em -.5em .25em;
	background-color: #ABB1FC;
	-moz-box-shadow: 3px 3px 5px 6px #555;
	-webkit-box-shadow: 3px 3px 5px 6px #555;
	box-shadow: 3px 3px 5px 6px #555;
	width:17em;
	position:relative;
}
td.selectable > div > ul > li.selectable > button {
	position: absolute;
	right: .1em;
	top: .1em;
}
.ui-widget-header > .caption {
	width: 100%;
	text-align:center;
	margin-bottom: .5em;
}
div#main fieldset table.display > tfoot > tr > th {
	padding: 0em;
}
fieldset table.display > tfoot button {
	width: 100%;
}
fieldset.assignmentStep table.display tr > td,
fieldset.columns table.display tr > td {
	width: 40em;
}

/* datatables delete confirmation */
table.display td.deleteConfirmation {
	padding:0px;
}
table.display td.deleteConfirmation div {
	border:solid red;
	color: red;
	height: 100%;
	background-color: white;
	text-align: center;
}
table.display tr.deleting > td {
	background-color: #FFC0C0;
}
.ui-dialog-titlebar-close {
	display: none;
}

/* manage groups/assign dossier reviewers save confirmation */
.assignmentConfirmation {
	color: green;
}

/* table header titles */
.dataTables_wrapper h2 {
	text-align:center;
	border-bottom:0;
	color:black;
}

/* table caption inserted in header */
.ui-widget-header:first-child div:first-child {
	float:left;
	font-weight:bold;
}
.dataTables_length {
	clear:both;
}

html.js table.dataTable thead th:focus,
html.js table.dataTable thead th:hover {
	color: #3079ED;
}

html.js table.dataTable thead th:focus .DataTables_sort_icon,
html.js table.dataTable thead th:hover .DataTables_sort_icon {
	background-image: url("/miv/images/jquery-ui/ui-icons_2694e8_256x240.png");
}

html.js table.dataTable .searchresults {
	display: none;
}

div.dataTables_paginate .ui-state-default {
	background: none;
}
div.dataTables_paginate .ui-state-disabled {
	cursor: default;
	opacity: .35;
	filter: Alpha(Opacity = 35);
	background: none;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
