/*
 * Style sheet for myinfovault.ucdavis.edu pages
 *
 * Used for:
 *  - Manage Open Actions
 *  - View Dossier Status
 *  - Assign Dossier Reviewers
 */

#main #openaction-summary {
	display: block;
	margin-left: -0.5em;
	margin-right: 0.5em;
	width: 100%;
}

#main div.actioninfo {
	float: left;
}

/*
 * Sticky dossier summary and links
 */
#main div#sticky {
	background-color: #FFFFFF;
	float: left;
	margin: 0;
	padding: 0 5px;
	width: 98%;
}

html.SYS_ADMIN.prod body #main div#sticky {
	background-color: #FFF4F4;
}

#main div#sticky > * {
	float: left;
}

#main div#sticky ul.dossierlinks {
	float: left;
	list-style: none;
	margin: 0;
}

#main div#sticky ul.dossierlinks li {
	margin-bottom: 0.5em;
}

#main div.sectionhead {
	background-color: #f2ebcc;
	border-top: 1px dotted #039;
	border-bottom: 1px dotted #039;
	margin-left: -1em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 1em;
}

#main #ResequenceButtons {
	float: right;
}

#dossiermsg {
	margin: 1em 0 1em 0;
}

.appointment {
	margin: 1em 0 0 0;
}

h2.appointmenthead {
	/*margin: 2px 0 2px 0 !important;*/
	display: inline
}

#appointments {
	clear: both;
}

#appointments .complete h2 {
	color: #009900;
}

#appointments .inprogress h2 {
	color: #D53344;
}
/*
h2.jointcomplete {
	float: left;
}

h2.jointinprogress {
	float: left;
}

.appointmentlink h2 {
	color: #009900!important;
	float: left;
}
*/
.sectionhead a {
	margin-left: 2em;
}

.lastmsg {
	margin-left: 5em;
}

.attributetype {
	border-bottom: 1px dotted #92453C;
}

.separatorbefore {
    border-bottom: 3px solid #000000;
}

.separatorafter {
    border-bottom: 3px solid #000000;
}

.addbutton {
	display: inline;
	margin-right: 1em;
}

.addeditbutton {
	display: inline;
	margin-right: 55px;
}

.deletebuttons {
	/*display: inline-table;*/
	display: inline-block;
	vertical-align: top;
}

.redactionstatus {
	display: inline-table;
}

.deletebutton {
	display: inline;
	margin-right: 1em;
}

.pdflink {
	display: inline;
}

.pdflinkviewonly {
	display: inline;
	margin-left: 6em;
}

/* --- Button Set ---- */
#main .buttons {
	padding: 0;
	margin-top: 1em;
	display: inline;
}

a.deleteline {
	margin-left: 1em;
}

a.jointroute {
	margin-left: 2em;
	color: #D53344;
	font-weight: bold;
}

/* ----- dossier status/open actions divs----- */
ul.dossieractions {
	clear: both;
	list-style: none;
	margin-bottom: 5px !important;
}

ul.dossieractions .description {
	display: inline-block;
	width: 35em;
	float: left;
}

#main .dossieractions .header {
    background-color: #F2EBCC;
    font-weight: bold;
    margin-bottom: -15px;
    margin-left: -36px;
    padding-bottom: 2px;
    padding-left: 1em;
    padding-top: 2px;
}

ul.dossieractions .ready {
	color: #009900;
	display: inline-block;
}

ul.dossieractions .waiting {
	color: #D53344;
	font-weight: bold;
	display: inline-block;
}

#routeit .stop {
	text-decoration: none;
	color: gray;
	cursor: not-allowed;
}

span.waiting {
	color: #D53344;
	font-weight: bold;
	display: inline;
	margin-left: 2em;
}

#errormessage {
	padding: 0px;
	padding-left: 1.5em;
	color: #D53344;
	font-weight: 900;
	/*display: none;*/
}

#errormessage ul {
	margin-left: 10px;
	/*margin-top: 1em;*/
	margin-bottom: 15px;
	padding-left: 1em;
	font-size: 1.0em;
}

#errormessage ul li {
	margin-left: 10px;
	margin-top: 0;
	padding: 0;
	color: #D53344;
	font-weight: 500;
	background-color: transparent;
	list-style-type: disc;
}

html.js #main .resequence {
	display: block;
	margin: 0;
	padding: 0.5em 0;
}

#main .openactionattrs {
	list-style-type: none;
	padding-left: 0;
}

#main .openactionattrs li {
	margin: 0 0 2px;
	padding: 0;
}

html.js #appointments .ui-state-default .deleteline {
	background: url("/miv/images/resequence_bg.gif") repeat-y scroll 0 0
		transparent;
	border-bottom: 1px dotted #92453C;
	padding: 0.15em 0.75em;
}

html.js #appointments .ui-state-default.active {
	border: 0 none;
	color: #000000;
	cursor: move;
}

html.js #appointments .ui-state-disabled {
	opacity: 1; filter:Alpha(Opacity=100);
	border: 0 none;
	color: #000000;
}

html.js #appointments .ui-state-default .deleteline {
	background-color: #FFFFFF;
}

html.js #appointments .ui-state-default .deleteline:hover,
html.SYS_ADMIN.prod.js body #appointments .ui-state-default .deleteline:hover {
	background-color: #F0F0F0;
}

html.SYS_ADMIN.prod.js body #appointments .ui-state-default .deleteline {
	background-color: #FFF4F4;
}

html.js #appointments .miv-sortable .ui-state-highlight {
	min-height: 2em;
}

#main .SaveResequence {
	margin: 0.2em 0;
}

/*
 * help tool tips
 */
span.help {
    display: inline-block;
    margin-left: 2em;
    max-width: 20em;
/*     color: #002855; */
}
html.js span.help {
	margin-left: 0em;
	display: none;	
}

span.helpicon {
	display: none;
}

html.js span.helpicon {
	display: inline;
}
/* -------------- submit button look like link ---------------
input.buttonToLink {
	background: transparent;
	border:2px solid transparent;
	color: #0033FF;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	font-family: Verdana,Geneva,Helvetica,Arial,sans-serif;
	font-size: 100%!important;
}
input.buttonToLink:hover {
	display:block;
	float: left;
	cursor:pointer;
	text-decoration: none;
	color: #77160B;
}

#returnit {
	clear: both;
}

span.buttonToLink {
	border: 2px solid transparent;
}
-------------- end submit button look like link ---------------*/
/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
