/* ----- Style sheet for myinfovault.ucdavis.edu Manage Format Options page ----- */

@import url("/miv/css/special_character2.css");

#main .mivDialog {
	width: 72em;
}

#formatOptions {
	color: #000;
	font-family: Verdana,Geneva,Helvetica,Arial,sans-serif;
	font-size: 1em;
	background-color: #F2EBCC;
	border: 5px #77160B ridge;
	padding: 1em;
	width: 105ex;
}

#formatOptions fieldset {
	background-color: transparent;
	border: none;
	margin-bottom: 1em;
	padding: 0;
}

#formatOptions fieldset legend {
	margin: 0;
	color: #335185;
	font-size: 1.1em;
	font-weight: 900;
	padding: 0.5em 0 0.25em 0;
}

#formatOptions table.noborder {
	width: 40em;
}

#main .formatpatterns {
	padding: 0 0 0.5em;
}
/*
#formatOptions #help {
	float: right;
	text-decoration: underline;
}
*/
#formatOptions table.noborder th {
	font-weight: bold;
	font-style: italic;
	text-align: left;
	font-size: 2ex;
}

#formatOptions table.noborder td {
	text-align: left;
	width: 12em;
}


#formatOptions .patternheader {
	font-weight: bold;
	font-style: italic;
	text-align: left;
	font-size: 2ex;
	margin: 0.5em 0;
}

.patternheader #patternfield {
	text-align: left;
	margin-right: 22ex;
}

.patternheader #patternvalue {
	text-align: left;
	margin-right: 9em;
}
.patternheader #patternstyle {
	text-align: left;
	padding-right: 1em;
}

#formatOptions .formatpatterns {
	float: left;
	font-size: 2ex;
	margin: 0 0 0.25em;
	padding: 0.5em 0 0.5em 1em;
}

#formatOptions .formatpatterns.header {
	padding: 0.5em 0 0 1em;
}

.formatpatterns h2 {
	display: inline-block;
}

#formatOptions .formatpatterns span {
	display: inline;
}

#main .formatpatterns .errorfield,
#main div.errorfield {
	border: 1px solid #D53344;
}

#main .formatpatterns .errorfield:focus,
#main div.errorfield:focus {
	border: 2px solid #D53344;
}

#formatOptions .formatpatterns h2 {
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	color: black;
	margin: 0;
	padding: 0;
}

#formatOptions .formatpatterns .patternfield {
	float: left;
	margin: 0 0.5em;
	min-width: 28em;
	width: 30em;
}

#formatOptions .formatpatterns .srno {
	float: left;
	margin-right: 1em;
	width: 1em;
}

#formatOptions .formatpatterns .patternfield select {
	/* width: 25em; */
}

#formatOptions .formatpatterns .patternvalue {
	float: left;
	margin-right: 1em;
	width: 14em;
}

#formatOptions .formatpatterns .patternstyle {
	float: left;
	height: 1.7em;
}

#main .patternstyle .styleblock {
	display: inline;
	margin-right: 0.5em;
	padding-bottom: 0.3em;
	vertical-align: top;
	width: 10.5em;
}

#main .patternstyle .buttonset {
	display: inline;
	width: 5em;
	margin: 0;
}

/*#main .patternstyle .buttonset input {
	This was empty, so commented it out.
}*/

#formatOptions #formatline {
	font-size: 1em;
	width: 70em;
}

/*#formatOptions #formatfield {
	This was empty, so commented it out.
}*/


#formatOptions .format-patterns > .buttonset.formline {
	clear: both;
	display: block;
}

#formatOptions #formatpattern {
	padding-left: 1.4em;
}

#formatOptions .formatlabel {
	padding-left: 0.4em;
}

#formatOptions .formatbold label {
	font-weight: bold;
	padding: 0.3em 0.5em 0.3em 0;
}
#formatOptions .formatitalic label {
	font-style: italic;
	padding: 0.3em 0.5em 0.3em 0;
}
#formatOptions .formatunderline label {
	text-decoration: underline;
	padding: 0.3em 0.5em 0.3em 0;
}
#formatOptions .formatremovelink {
}

/* Targets checkboxes, which IE botches the background color on */
#formatOptions .formatlabel input {
	/* background-color: transparent !important; */
	background-color: #FFFFFF;
}

html.SYS_ADMIN.prod body #formatOptions .formatpatterns.header,
#formatOptions .formatpatterns.header {
	background-color : transparent;
}

/* vim:ts=8 sw=8 noet sr:
*/
