/* ----- Style sheet for mivcommon.js specific functions  ----- */

/* SDP 2013-10-29
 *   There are too many different reds used in here, we should pick one and stick with it.
 *     #CA0015  #AE3C3C  #D53344
 */

/* css used in showMessage() method in mivcommon.js */

div.DynamicMessage,
#main div#CompletedMessage,
div#CompletedMessage,
div#messagebox,
#main #errormessage,
#main .errormessage,
.errormessage,
.mivbox {
	background:
		url("../images/jquery-ui/ui-bg_fine-grain_15_ffffff_60x60.png")
		repeat scroll 50% 50% transparent;
	border-color: #555555;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	box-shadow: 1px 1px 3px 1px #555555;
	font-weight: bold;
	max-width: 50em;
	min-width: 35em;
	display: none;
	overflow: auto;
}

div.DynamicMessage,
#main div#CompletedMessage,
div#CompletedMessage {
	font-size: 1.2em;
	margin-left: 29%;
	position: absolute;
	padding: 15px 5px 15px 10px;
}


.mivbox {
	padding: 1em 0.5em;
}

#messagebox {
	margin-bottom: 1ex;
}

div#messagebox,
#main #errormessage,
#main .errormessage,
.errormessage {
	margin-left: 0;
	padding: 0.5em 0.5em 1em 0.5em;
}

div.message,
p.message,
div#message,
p#message {
	background: #F2EBCC;
	color: #CA0015;
	width: 50%;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid;
	border-width: 15px;
	border-style: solid;
	border-top-color: #4C6794;
	border-left-color: #335185;
	border-right-color: #002666;
	border-bottom-color: #002666;
	padding: 4px;
}

#successbox,
#deletebox,
#infobox,
#errorbox
{
	width: 88%;
	float: left;
}

#successbox {
	background-image: url("../images/success.png");
	color: #2E3B0B;
}

#deletebox {
	background-image: url("../images/delete.png");
	color: #2E3B0B;
}

#infobox {
	background-image: url("../images/info.png");
	color: #084B8A;
}

#errorbox {
	background-image: url("../images/error.png");
	/*color: #AE3C3C;*/
	color: #D53344;/* Pulled up from "errorbox ul li" */
}

#errorbox >  strong:after {
	content: ":";
}

#popuperrors #errorbox {
	float: none;
}

#successbox,
#deletebox,
#infobox,
#errorbox,
.errorbox {
	background-repeat: no-repeat;
	background-size: 18px 18px;
	font-weight: bold;
	padding-left: 2em;
}

a.message-box {
	float: right;
}

#errorbox ul,
.errorbox ul {
	margin: 0 0 0 1em;
	padding: 0;
}

#errorbox ul li,
.errorbox ul li {
	margin-left: 3em;
	color: #D53344;
	font-weight: normal;
	list-style-type: disc;
	margin: 0 0 0 3em;
	padding: 0;
}

.success {
	color: #009933;
}

.error,
.failed {
	color: #CA0015;
}

div.caution, p.caution {
	max-width: 50em;
	background-image: url("../images/error.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	padding-left: 2em;
	color: #AE3C3C;
	font-weight: bold;
}
#main #CompletedMessage.hasmessages,
#main #messagebox.hasmessages {
	display: block;
	position: relative;
	margin: 2px 0;
	padding: 7px 5px;
}

#main #messagebox.haserrors,
#main #errormessage.hasmessages,
#main #errormessage.haserrors {
	display: block;
}

.template {
	display: none;
}

.headertext {
	white-space: pre;
}

/* DO NOT USE THIS CLASS FOR ANYTHING NEW!
 * This class should be removed or renamed because it's named
 * for a particular aspect of presentation. Classes should be
 * named for /things/ that they represent.
 * Based on where I've found this used -- in which JSP files -- this could be changed to class "literal-heading"
 *   jsp/AdditionalRecord.jsp  jsp/biosketchpreview.jsp  jsp/design.jsp  jsp/recordlist.jsp
 */
.whitespacepreserve {
	white-space: pre;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
