/* Used by DesignDossier / design.jsp */
li.sectionlist {
	list-style: none;
}

#main .links {
	min-width: 52em;
}
#main .links > div {
	padding-left: 1em;
	padding-right: 3em;
	display: inline-block;
	vertical-align: top;
}
#main .links ul {
	display: inline;
	padding-right: 3em;
}

#main .links ul li {
	list-style: none inside none;
	margin-bottom: 0.1em;
	margin-left: 1em;
	margin-top: 0;
	padding-left: 1em;
}
/* for the above, add this character content before the list-item instead of using an image */
#main .links ul li:before {
	content: "» ";	/* note the character typed on this line is unicode U+00BB */
}


#main .links h2 {
	margin: 0 0 -1em 0;
/* For Safari ONLY, we don't want to pull up the bottom...
	margin: 0 0 0 0;
   however this 'margin' would affect every browser.
   We could be more specific...
	-webkit-margin-after: 0;
   ...but that still affects both Safari and Chrome
*/
}

#main.designer ul.mivrecords {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main.designer ul.mivrecords li {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.mivrecords li p {
	margin: 0 !important;
}

div#workarea {
	border: 1px solid black;
}

div.printpacket {
	font-weight: bold;
	background-color: #f2ebcc;
	border-bottom: 1px dotted #039;
}

div.printpacket div.printoption {
	width: 6ex;
}

div.printoption input {
	vertical-align: bottom;
}

div.selectall {
	font-size: 0.8em;
	font-weight: bold;
	background-color: #f2ebcc;
	padding-left: 1ex;
	padding-bottom: 4px;
}

div.documenthead {
	clear: both;
	background-color: #ccd4e0;
	border-top: 1px solid black;
	padding-left: 1ex;
}

/* if JavaScript is present */
html.js #designForm div.documenthead.active {
	/* padding: 0 0 0.5em 0.5em; */
}

html.js #designForm div.documenthead .formline {
	display: none;
}

html.js #designForm div.documenthead.active .formline,
html.js #biosketchform div.documenthead .formline {
	padding: 0px 0px 0px 26px;
	display: block;
	font-size: 8pt;
}

html.js #biosketchform div.documenthead .formline {
	margin: 0 0 0 0.1em;
}

html.js div.documenthead {
	cursor: pointer;
	min-height: 1.75em;
}
html.js div.documenthead:focus,
html.js div.documenthead:hover {
	background-color: #8C94A0;
}
html.js #designForm div.documenthead h2:before {
	display: inline-block;
	height: 17px;
	width: 15px;
	margin: 0.2em 0.5em 0.2em 0;
	padding: 0 1px;
	content: "";
	text-align: center;
	vertical-align: middle;
	border: 1px dotted #444444;
	border-radius: 49%;
	box-shadow: 2px 2px 5px #777;
	background-color: white;
	background-image: url("/miv/images/jquery-ui/ui-icons_454545_256x240.png");
	background-position: -32px -128px;
}
html.js #designForm div.documenthead.active h2:before {
	background-position: -64px -128px;
}

html.js div.documentbody {
	display: none;
}

#main div.documentblock {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-bottom: 1px;
}

#main div.documenthead h2 {
	color: black;
	margin: 0;
}

#main #designForm div.sectionhead {
	clear: both;
	background-color: #f2ebcc;
	border-bottom: 1px dotted #039;
	padding-left: 0.5em;
	padding-bottom: 3px;
	margin-left: 0;
}

#main.designer .sectionhead h3,
.designer .sectionhead h3 {
	display: inline;
	margin: 0 1ex;
}

div.sectionsubhead {
	clear: both;
	background-color: transparent;
	padding-left: 0.3em;
	padding-bottom: 3px;
}

span.editheader {
	background-color: #FFFFFF;
}

.designer .documenthead h2 {
	display: inline;
}
.designer .sectionsubhead h4 {
	display: inline;
	margin: 0 1ex;
	font-size: 0.9em !important;
}

div.sectionbody {
	padding-left: 0;
}

div.listblock {
	clear: both;
	border-bottom: 1px dotted #92453c;
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

div.listblock:hover, html.js div.listblock.hover {
	background-color: #f0f0f0;
}

div.printable {
	clear: both;
}
div.printable.contribution {
	padding-left: 3.5em;
}

div.selectoption {
	float: left;
	width: 5.1%;
}
div.printable.contribution div.selectoption {
	width: auto;
}

div.contentlegend {
	 text-align: center;
}

.annotationLegend {
	font-size: 85%;
	font-weight: 900;
	color: black;
}

span.printoption {
	width: 30%;
	vertical-align: top;
}

span.annotationMarker {
	width: 70%;
	vertical-align: middle;
	font-size: 85%;
}

div.record {
	float: left;
	width: 93%;
}

div.timeframe {
	display: inline;
	color: #92453C;
	font-weight: 900;
	word-wrap: break-word;
}


div.preview {
	width: 100%;
}

span.prefix {
	color: #92453C;
	font-weight: 900;
}

div.annotationLink {
	float: left;
}

/* Temporary, for visibility */
.mivrecords li div {
	/*border: 1px solid green;*/
	/*margin: 4px;*/
	/*padding: 0 3px;*/
	margin: 1px;
	padding: 0 1px;
}

div#main record ul li {
	margin: 0;
	padding-left: 0.5em;
}

div.preview ul {
	list-style-position: outside;
	list-style-type: disc !important;
	margin-left: 2.5em !important;
	padding-left: 0 !important;
}
div.preview ol {
	list-style-position: outside;
	list-style-type: decimal !important;
	margin-left: 3em !important;
	padding-left: 0 !important;
}

div#main record ol li {
	background-color: transparent;
	color: #000000;
	margin: 0;
	padding-left: 2em;
}

div.hidecontribution {
	display: none;
}

div.showcontribution {
	display: block;
	font-size: 0.8em;
	color: #f01010;
}

div.contributiontitle {
}

span.ERR_MISSING {
	font-weight: bold !important;
	color: #f01010 !important;
}

div.clearboth {
	clear: both;
}

span.section-description {
	color: #2A120A;
	font-size: 1.1em;
	font-weight: bold;
}

/* --- Design Button Set ---- */
#main .designbuttonset {
	clear: both;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

#main.designer ul.mivrecords table,
#main.designer ul.mivrecords  td,
#main.designer ul.mivrecords  th {
	border-color: #000000;
}

#main.designer ul.mivrecords  p,
#main.designer ul.mivrecords  td,
#main.designer ul.mivrecords  th {
	min-height: 1.5em;
}

#main.designer ul.mivrecords table {
	border-collapse: collapse;
}

.mivrecords div.year,
.mivrecords div.associatedrecorddate {
	padding-right: 0.5em;
}

div#main .preview .statementhead {
	color: #335185;
	font-weight: bold;
}

/* item change tags */
.new {
	text-transform: capitalize;
	background: green;
	color: white;
	padding-left: 0.3em;
	padding-right: 0.3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-weight: bold;
	font-family: Helvetica;
	border-radius: 5px;
	display: inline;
}

.changed {
	text-transform: capitalize;
	background: #FFCD00;
	color: black;
	padding-left: 0.3em;
	padding-right: 0.3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-weight: bold;
	font-family: Helvetica;
	border-radius: 5px;
	display: inline;
}

.popup-dialog {
	display: none;
}
/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
