
#main div.notice {
	clear: both;
	margin: 0px;
	margin-bottom: 1em;
	padding: 0px;
	width: 40em;
}
#main div.notice p.warning {
	font-size: 1.0em;
}

div.fakemail {
}

div.fakemail .headerline {
	clear: both;
	/*float: left;*/
	margin-bottom: 2px;
}

div.fakemail .headerline .prompt {
	display: -moz-inline-box;
	display: inline-block;
	width: 12ex;
}

/* This was doubling the colon, because it's already in the page text in some forms.
 * Took this out and added explicit colons where needed.
div.fakemail .headerline .prompt:after {
	content: ":";
}*/

div.fakemail .headerline .field {
	display: -moz-inline-box;
	display: inline-block;
	border: 2px inset #AAA;
	color: #555;
	/*float: left;*/
	padding-left: 2px;
	width: 35em;
}
div.fakemail .headerline textarea.field {
	width: auto;
	background-color: white;
}

div.fakemail .message {
	clear: both;
	padding-top: 5px;
}

div.fakemail .message .system textarea {
	color: #555;
}

div.fakemail textarea#systemmessage {
	margin-top: 1em;
	border: 1px solid #df6673;
}

div#message.sent {
	padding-top: 0.5em;
	border-top: 3px groove #333;
}

/* vim:ts=8 sw=8 noet sr:
*/
