/* ----- Style sheet for myinfovault.ucdavis.edu ENTER DATA pages ----- */

@import url("/miv/css/special_character2.css");


.standout {
	font-size: 150%;
	font-weight: 900;
	display: block;
	/*float: left;*/
	clear: both;
}

/* ---------- decision/recommendation signature ----------- */
div.formlineright input[type="radio"].decisionChoice {
	background-color: #FFFFFF !important;
}
div.formlineright input[type="checkbox"].decisionChoice {
	background-color: #FFFFFF !important;
}

/* ------ useredit.jsp ----- */
div.standout {
	float: left;
	margin-bottom: 1em;
}

/* manage groups and assign reviewers */
fieldset.assignmentStep {
	position: relative;
	margin-bottom: 1em;
	clear: both;
}

fieldset.assignmentStep > legend {
	font-weight: bold;
	font-size: 1.2em;
}
fieldset.columns > div.formline,
fieldset.columns > div.collapsible-body > div.formline {
	float: left;
	clear: none;
	margin-right: 1em;
	position: relative;
}

form#assignForm fieldset.buttonset {
	border: none;
	margin-left: 42.5em;
}

fieldset#searchFields {
	margin-bottom: 1em;
	max-width: 80.5em;
	min-width: 40em;
	font-weight: normal; /* req'd for inclusion in group edit page */
	/*background-color: #F6EFD7*//*or change to 'inherit'*/
}
fieldset#searchFields p {
	font-weight: bold;
}
html.js fieldset#searchFields {
	display: none;
}
.mivDialog fieldset#searchFields {
	padding: 0;
}
html.js .mivDialog fieldset#searchFields {
	display: block;
}

/* advanced button */
fieldset.columns div > button {
	margin-bottom: 1em;
}

fieldset.columns > fieldset {
	clear: both;
}

fieldset.assignmentStep ul {
	list-style-type: none;
}
fieldset.assignmentStep td ul {
	list-style-type: disc;
}

fieldset.ui-buttonset button.ui-state-default {
	padding: 0.2em;
	margin-right: -0.3em;
	font-size: 1em;
	font-weight: normal;
	color: black;
}

fieldset.ui-buttonset button[name=reviewOpen].ui-state-disabled {
	box-shadow: inset 0 0 0.5em #000000;
	font-weight: bold;
	opacity: 1;
	background-color: white;
}

fieldset.ui-buttonset button[name=reviewOpen].ui-state-hover,
fieldset.ui-buttonset button[name=reviewOpen].ui-state-focus {
	color: white;
	background-color: black;
}

fieldset.ui-buttonset > button[value=true].ui-state-disabled {
	color: green;
}

fieldset.ui-buttonset > button[value=false].ui-state-disabled {
	color: red;
}

html.js fieldset.assignmentStep div.help,
fieldset.assignmentStep div.helpicon {
	display: none;
}
html.js fieldset.assignmentStep div.helpicon {
	display: block;
}

html.js #main div.forminfo,
html.js #main div.formhelp {
	float: right;
	background-color: transparent;
	color: #0033FF;
	font-size: 100%;
	text-decoration: underline;
	cursor: pointer;
	min-height: 15px;
	min-width: 15px;
}

html.js #main div.forminfo {
	background: url("/miv/images/info.png") no-repeat scroll 50% 50% transparent;
}

html.js #main div.formhelp {
	background: url("/miv/images/help.png") no-repeat scroll 50% 50% transparent;
}

fieldset.assignmentStep div.helpicon {
	float: right;
}

/* available department select search for group/reviewer management */
div.available_department {
	margin-right: 1em;
	margin-top: 4.5em;
}
div.available_department > * {
	float: right;
}
div.available_department > label {
	line-height: 1.5em;
	margin-right: .5em;
}
div.available_department > select {
	border-radius: 1em 0 0 1em;
	box-shadow: 1px 1px 3px 1px #bbb inset;
}

td span.groupdesc {
	/*display: inline-block;
	max-width: 50em;*/
	word-wrap: break-word;
}
td.groupcreator, td.groupcreated, td.groupaction {
	white-space: nowrap;
}
td.groupdesc {
	overflow: hidden;
}
/*td.groupaction {
	min-width: 14em;
}*/

/* assign dossier reviewers, manage groups summary */
.assignmentSummary {
	margin-bottom: 1em;
}
.assignmentSummary > div > span {
	font-weight: bold;
}
.assignmentSummary > div > span:after {
	content: ":";
}

.mivdata textarea {
	font-family: sans-serif !important;
	font-size: 100% !important;
}

.mivdata select:disabled {
	color: #777 !important;
	background-color: #e6e6e6 !important;
}
/* ----- Enter Data divs ----- */


/*div.enterData {  // There was nothing that had class="enterData", div or otherwise (but I'm introducing one, so getting rid of this)
	clear: both;
	padding: 0.5em;
}*/

div.label {
	float: left;
	display: block;
	width: 40%;
	text-align: right;
	font-weight: 900;
}

div.labelInput {
	float: right;
	text-align: left;
	display: block;
	width: 59%;
	margin-left: 0.5em;
}

.formline span.required {
	color: #D53344;
	font-size: 1.5em;
	font-weight: bolder;
	vertical-align: middle;
}
.formline span.invalid, .formline span.range {
	color: #f00000;
	float: left;
}

.formline span.textfield {
	margin-right: 1.5ex;
}

.formline span.checkbox {
}

.formline span.radiobutton {
}

.formline span.radioset {
	padding-right: 0.8em;
}

/* ----- Citation divs ----- */

.dojoDialog {
	color: #000;
	font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	background-color: #F4EACC; /* hsl(45, 65%, 88%);  UCD Pantone 117 gold 20% */ /* IE supports hsl() in IE9 */
	border: 2px solid #DBC97A; /* hsl(49, 58%, 67%);*/
	border-radius: 10px;
	box-shadow: 3px 3px 12px #b0b0b0;
	padding: 1em;
	width: 100ex; /* TODO: might want to be more flexible with dialog widths */
}

	.dojoDialog #uploadlink {
		clear: both;
		margin-bottom: 1em;
	}
	.dojoDialog #mytestform {
		clear: both;
	}

	.dojoDialog fieldset {
		border: none;
		background-color: #FFF;
	}

	.dojoDialog .formhelp, #main .formhelp  {
		clear: both;
		color: #660000;
		font-size: 1.1em;
		font-style: italic;
		margin: 0.1em 0 1em;
	}

	.dojoDialog .formhelp p, #main .formhelp p {
		margin: 0.5em 0;
	}

	.dojoDialog .formline {
		margin-bottom: 1em;
	}

/* found no mention of .dialogUnderlay class in any html or jsp file */ /*
div.dialogUnderlay {
	background-color: #033666 !important;
	opacity: 0.4 !important;
}
*/

.pagedialog {
	clear: both;
	margin-top: 0.8em;
}


/* Same as for dojoDialog but in a page alone, not a popup dialog */
#main .mivDialog {
	font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
	font-size: 0.85em;
	margin-bottom: 1.5ex;
	padding: 1em;
	min-width: 105ex; /* TODO: might want to be more flexible with dialog widths */
	width: 39%;
}

#main .mivDialog, #popup-form .mivDialog {
	color: #000000;
	background-color: #F4EACC; /* hsl(45, 65%, 88%);  UCD Pantone 117 gold 20% */ /* IE supports hsl() in IE9 */
	border: 2px solid #DBC97A; /* hsl(49, 58%, 67%);*/
	border-radius: 10px;
	box-shadow: 3px 3px 12px #B0B0B0;
}

.mivDialog #userheading {
		margin-bottom: 0.5em;
	}
	.mivDialog #uploadlink {
		clear: both;
		margin-bottom: 1em;
	}
	.mivDialog #mytestform {
		clear: both;
	}

#main #AnnotationLineForm .mivDialog {
	width: auto;
}

#main .previewitemlist {
	background: url("/miv/images/jquery-ui/ui-bg_fine-grain_15_ffffff_60x60.png") repeat scroll 50% 50% transparent;
	border-color: #555555;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	box-shadow: 1px 1px 3px 1px #555555;
	min-width: 51.5em;
	width: auto;
}

.mivDialog fieldset {
	border: none;
	background-color: transparent;
}

.mivDialog .formline {
	margin-bottom: 1em;
	clear: both;
}

#main .wideDialog {
	max-width: 75em;
	min-width: 58em;
	width: auto;
}

.mivDialog .formline textarea {
	border-style: inset;
	border-width: 2px;
	border-color: ThreeDLightShadow;
	-moz-appearance: textfield !important;
}

#listarea li {
	clear: both;
	/*background-color: #ffe9e9; // inherit whatever's there already */
}

table.sortable tbody tr:hover {
	background-color: #f0f0f0;
}

.sortable > li {
	padding: 0;
	margin: 0;
}

/* ----- */
/* Resequencing: sortable and un-sortable lists */
/*ul.sortable-list {
	list-style: none;
	margin-left: 0 !important;
	padding-left: 0 !important;
}*/

ul.sortable-list li {
	cursor: move;
	background-color: transparent;
	-moz-user-select: none;
	margin-left: 0 !important;
	padding-left: 0 !important;
	border-top: 1px dotted #0f0f9f;
}

ul.unsortable-list li {
	margin-left: 0 !important;
	padding-left: 0 !important;
	color: #7f7f7f !important;
}
div.sortsection ul.sortable-meta-list {
	list-style: none;
}
div.sortsection ul.sortable-meta-list li {
	cursor: move;
}

#main div.draglist ul.sortable-list,
#main div.draglist ul.unsortable-list {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 2px solid #003366;
	margin-left: 0 !important;
	padding-left: 0 !important;
}
div.sortsection {
	margin-bottom: 15px;
	border-bottom: 3px solid #039;
}
span.prefix {
	color: #92453C;
	font-weight: 900;
}
/* ----- */

#listarea ul.mivrecords {
	list-style-type: none;
	margin-right: 1em;
	padding-left: 1em;
}

#listarea ul.sections {
	list-style-type: none;
	padding-left: 0;
}

/* A plain entry, then an entry currently being edited. */
#listarea li.records {
	/*background-color: #ffe9e9;*/
	background-image: none;
}
ul.mivrecords li p {
	margin: 0;
	min-height: 0.8em  !important;
}
#listarea li.editing {
	background-color: #ffe9e9 !important;
}
/* The previously selected entry; where you left off. */
#listarea li.previous {
	/*background-color: #fbfffd !important;*/
	background-color: #f0fff2 !important;
}

div.recordsection div.previous {
	/*background-color: #fbfffd !important;*/
	background-color: #f0fff2 !important;
}

/* If we put a print/noprint indicator or checkbox on the list items. */
li.noprint div.packetdisplay {
	float: right;
	margin-right: 0.6em;
}
/* Uncomment to see "noprint" in the preview lists. */ /*
#listarea li.noprint, #listarea li.noprint div.year {
	color: #aaaaaa !important;
} */


#main #notes {
	width: 27ex;
	background-color: #f2f2f2;
	border-top: 1px dotted #dddddd;
	border-bottom: 1px dotted #dddddd;
	margin-top: 0.75em;
	margin-left: 1.5em;
	padding-left: 1.2ex;
	padding-bottom: 0.3ex;
}

.entry {
	border-bottom: 1px dotted #92453C;
	/*margin: 0.2em 0 0 0;*/ /* margin left a gap when hovering. padding has no gap. */
	padding-top: 0.2em;
}

#listarea ul.mivrecords .entry:hover {
	background-color: #f0f0f0;
}

#listarea h1#recordtypedescription {
	float: left;
}
/* Type select and jump in Publications and Creative Activities */
#listarea #typelist {
	float: right;
	margin-right: 3px;
}

.yearentry {
	border-bottom: 2px solid #92453C;
}

.year {
	color: #92453C;
	font-weight: 900;
}
div.year {
	display: block;
	float: left;
	word-wrap: break-word;
	padding-right: 0.5em;
}

div#main .entry .year,
div#main .entry .daterange,
div#main .entry .yearspan {
	margin: 0 0 0.5em;
}

div#main .entry .preview .year,
div#main .entry .preview .daterange,
div#main .entry .preview .yearspan {
	margin: 0;
}

div#main .entry .statementhead {
	color: #335185;
	font-weight: bold;
}

div#main .entry .content {
	margin-left: 1em;
}

div#main .entry .associatedrecord {
	list-style: none outside none;
	margin: 0;
}

div#main .entry .reviewsevents, div#main .entry .worksevents, .works {
	color: #0B3861;
}

div#main .entry .reviewsworks, div#main .entry .eventsworks, div#main .entry .publicationeventsworks, .events {
	color: #29088A;
}

.yearspan {
	color: #92453C;
	font-weight: 900;
}
div.yearspan {
	float: left;
	display: block;
	width: 9ex;
	word-wrap: break-word;
}

div.daterange {
	color: #92453C;
	float: left;
	font-weight: 900;
	min-width: 14ex;
	padding-right: 0.5ex;
	word-wrap: break-word;
}

div.associatedrecorddate {
	float: left;
	color: #92453c;
	font-weight: 900;
	word-wrap: break-word;
	padding-right: 0.5em;
}

div.datespan, span.datespan {
	float: left;
	width: 10.5ex;
	color: #92453c;
	font-weight: 900;
	word-wrap: break-word;
}

/* widerdaterange is currently used to only grants */
div.widerdaterange {
	float: left;
	width: 16ex;
	color: #92453c;
	font-weight: 900;
	word-wrap: break-word;
}

/* widestdaterange is currently used to only Employment History (Preview) */
div.widestdaterange {
	float: left;
	width: 21ex;
	color: #92453c;
	font-weight: 900;
	word-wrap: break-word;
}

/* Add Record, Resequence, and Pub type list controls in record list page */
div.addrecord input, div#pubtype input {
	background-color: transparent;
}
div.addrecord {
	margin-bottom: 3px;
}
div.addrecord form {
	display: inline;
}
/*div#resequence {
	display: inline;
}*/

.subrecordentry {
	float: left;
	display: block;
	width: 80%;
	word-wrap: break-word;
}

#main .record-links {
	clear: both;
	width: 100%;
}

.recordentry {
	float: left;
	display: block;
	margin: 0 1em 0.5em 0.5em;
	width: 80%;
	word-wrap: break-word;
}
.daterange + .recordentry {
	max-width: 85%;
}
.widerdaterange + .recordentry {
	max-width: 80%;
}

div#main div.recordentry ul,
div#main div.recordentry ol {
	font-size: 1em;
	list-style-position: outside;
	margin-left: 2.5em;
	padding: 0;
}

div#main div.recordentry ul > li,
div#main div.recordentry ol > li {
	margin: 0;
	padding-left: 0.5em;
}

div#main div.recordentry .preview ul li {
	list-style-type: disc;
}

div#main div.recordentry .preview ol li {
	list-style-type: decimal;
}

div#main div.recordentry .preview {
	display: inline-block;
	margin: 0 1px 0 0;
	width: 100%;
}

div#main div.recordentry h3 {
	margin: 0;
}

div.recordentry span.ERR_MISSING {
	font-weight: bold;
	color: #f01010;
}

#main div.summary {
	margin: 0;
}

#main div.summary.active {
	padding: 0 1.5em 0.25em 0.25em;
}

#main form div.summary {
	padding: 0 0 1em;
}

#main table.rank_step th,#main table.rank_step td {
	padding-left: 0.25em;
}

#main table.rank_step th.headercolumn {
	border-bottom: 1px solid #000000;
}

#main table.rank_step th {
	line-height: 2em;
}

#main table.rank_step td {
	line-height: 1.75em;
}

#main div.certificate {

}

#main div.certificate p {
	clear: both;
	color: #660000;
	font-size: 1.1em;
	font-style: italic;
}

#main .additionalinfo {
	width: 90%;
}

#main .vertical-align-top {
	vertical-align: top;
}

#main .inline-block {
	display: inline-block;
}

#main #dc .attention {
	width: 85%;
}

span.ERR_MISSING {
	font-weight: bold !important;
	color: #f01010 !important;
}

.press {
	color: #4C8077;
}


.interest-area-records h3 {
	color: #92453C !important;
	font-size: 1em !important;
	padding-bottom: 1em;
}

#main .sectionhead {
	background-color: #f2ebcc;
	border-top: 1px dotted #039;
	border-bottom: 1px dotted #039;
	/*margin-left: -1em;
	padding-bottom: 0.4em;*/
	padding-left: 1em;
	min-height: 1.75em;
}

#main div.additionalbutton {
	padding-left: 1em;
}

html.SYS_ADMIN.prod body #main .sectionhead {
	background-color: #FFDDDD;
}

html.SYS_ADMIN.prod body #main .mivDialog {
	background-color: #FFDDDD;
	border-color: #FFDDDD;
}


/****  Warning display for non-Candidate data entry ****/
/* Do -=NOT=- create ANY more "enterdata" or "targetSOME_ROLE" CSS rules without prior approval! */
html.targetSYS_ADMIN.enterdata body,
html.targetDEPT_ASSISTANT.enterdata body,
html.targetDEPT_STAFF.enterdata body,
html.targetSCHOOL_STAFF.enterdata body,
html.targetSENATE_STAFF.enterdata body,
html.targetVICE_PROVOST_STAFF.enterdata body {
	background-color: #fff4f4;
}

html.targetSYS_ADMIN.enterdata body div#main > :first-child:after,
html.targetDEPT_ASSISTANT.enterdata body div#main > :first-child:after,
html.targetDEPT_STAFF.enterdata body div#main > :first-child:after,
html.targetSCHOOL_STAFF.enterdata body div#main > :first-child:after,
html.targetSENATE_STAFF.enterdata body div#main > :first-child:after,
html.targetVICE_PROVOST_STAFF.enterdata body div#main > :first-child:after
{
	content: "WARNING: You are entering data in an Admin account, not in a Candidate account!";
	color: #D53344;
	font-weight: bold;
	display: block;
	line-height: 2.5em;
}

/* Changes focus to red highlighting, but needs tons more rules to get every field.
html.SYS_ADMIN body div#main input:focus,
html.DEPT_ASSISTANT body div#main input:focus,
html.DEPT_STAFF body div#main input:focus,
html.SCHOOL_STAFF body div#main input:focus,
html.SENATE_STAFF body div#main input:focus,
html.VICE_PROVOST_STAFF body div#main input:focus {
	border: 1px solid #DD2222;
}
*/

html.SYS_ADMIN.enterdata body #mivheader #ucdlogosmall:before {
	content: url("/miv/images/ucdLogoSmall_prod.png");
}

#main .section .sectionhead h2 {
	float: left;
	margin: 0.2em 0; /* SDP: added to compensate for miv.css changes for help pages. */
}

#main .section .sectionhead div.displaycb {
	float: right;
	width: 7%;
}

#main .section .sectionhead h3 {
	width: 20em;
	margin: auto;
}


input.newline { display: block; }


div.section {
	min-width: 52em;
}

span.dagger {
	font-family: serif !important;
}

/* This section for Publication Line Maintenance (CvPubline; Lines, Notations, Footnotes)
   and Design Packet Extensive (previously PkDesign) */
/* DIVs Available for application of styles
   .recordblock
   -  h2
   -  .recordsection
      - .publine
      - .publine
   -  .recordsection
      - .publine
      - .publine
*/
div.recordblock {
	margin-bottom: 0.5em;
	/*
	margin-top: 1.5em;
	margin-bottom: 2.0em;
	margin-left: 0;
	margin-right: 0;
	*/
	/*margin: 1.5em 0 2.0em 0;*/
}

div.recordblock .recordsection .record {
	display: block;
	min-height: 2em;
	padding-bottom: 0.25em;
}
/*****  the 'publine' class is only used in annotations, so this should be in annotation.css  **/
/*div.publine {
	border-bottom: 1px dotted #003399;
	display: inline-block;
	line-height: 1.3;
	margin: 0.2em 0.2em 0.2em 1em;
	min-height: 2em;
	width: 98%;
}
div.publine:hover {
	background-color: #f0f0f0 !important;
}*/

/* if we want different odd/even row coloring */
div.recordblock .recordsection .even {
	/*background-color: #ffffff;*/
}
div.recordblock .recordsection .odd {
	/*background-color: #f7f7f7;*/
}
#main div.recordblock .recordsection h2 {
	background-color: #F2EBCC;
	border-bottom: 1px dotted #003399;
	border-top: 1px dotted #003399;
	margin: 0;
	padding: 0.2em 1em;
}

html.SYS_ADMIN.prod body #main div.recordblock .recordsection h2 {
	background-color: #FFDDDD;
}

/* This very specifically targets the Edit Annotations "Edit" link/button */
div.recordblock .recordsection .editannotations {
	background-color: transparent;
	display: block;
	float: left;
	margin-top: 0.1em;
	padding-top: 2px;
}

div.recordblock .recordsection .year {
	display: block;
	float: left;
	min-width: 3em;
	padding-right: 0.5em;
}

div.recordblock .recordsection .notes {
	display: block;
	float: left;
	padding: 0 0.5em;
	text-align: right;
	width: 4em;
}

div.recordblock .recordsection .recordentry {
	display: inline-block;
	float: none;
	margin: 0 1em 0.5em 0;
	max-width: 80%;
}


div.labelright {
	font-weight: bold;
	text-align: right;
	border-bottom: 3px groove silver;
	margin-left: 4em;
	margin-bottom: 0.1em;
}
div.labelleft {
	font-weight: bold;
	text-align: left;
	border-bottom: 3px groove silver;
	margin-left: 4em;
}

div.publine a img {
	vertical-align: middle;
}

.doctype {
	padding-top: 1px;
}

#main #enterdataguide {
	display: block;
	clear: both;
	font-size: .8em;
	width: 41em;
}

	#main #enterdataguide #requiredfieldlegend,
	#main .requiredfieldlegend {
		float: left;
		color: #D53344;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#main .requiredfieldlegend {
		padding-bottom: 5px;
		padding-top: 2px;
	}

	#main #enterdataguide #specialformattinghelp {
		float: right;
		padding-top: 10px;
		padding-bottom: 10px;
	}

/* End of Publication Line Maintenance, Design Packet Extensive */



/* Lists of links that appear in the page body */
.linkblock li {
	list-style-type: none;
	margin-bottom: 1em;
}

/* recommended action form / manage users / dossier select */
fieldset.mivfieldset, fieldset.mivfieldsetDossierselect {
	background-color: transparent;
	border: none;
}
fieldset.mivfieldsetDossierselect {
	margin-bottom: 1em;
	padding: 0;
}
/* This pulls the legend to the left on the assumption that THERE IS NO ENCLOSING BORDER on the fieldset */
fieldset.mivfieldset legend {
	margin-left: -1em;
}

/* ------------------ Recommended Action Form --------------- */
table.rafStatusTable th {
	font-weight: bold;
	text-align: center;
}
table.rafStatusTable {
	border-collapse: separate;
	border-spacing: 1em .25em;
	margin-bottom: 1em;
}

/* ------------------ manage users --------------- */
.formlineleft {
	float: left;
	margin-right: 1em;
	position: relative;
}

.formlineright {
	float: left;
	margin-bottom: 1em;
}


/* ------------------ Disclosure Certificate --------------- */
span.italic {
	font-style: italic;
}

span.notsigned {
	color: #f00000;
}

/* ------------ summary block, followed by a list ------------ */
/*          as found in several confirmation jsp files         */

div.summary {
	margin: 1em 0 0em 2em;
}
div.listings {
	margin-left: 2em;
}
div.listings li {
	list-style-type: none;
}
#main div.listings ul,
#main div.listings li {
	margin: 0;
	padding: 0;
}




tr.fadeRow {
	color: #666666;
}

/* -------------- submit button look like link --------------- */
input.buttonToLink {
	background-color: transparent;
	border: 2px solid transparent;
	color: #0033FF;
	display: block;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}
input.buttonToLink:hover {
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #77160B;
}

a.linktobutton {
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 2px 5px;
	clear: both;
	border-color: #999999;
	border-style: outset;
	border-width: 1px 2px 2px 1px;
	color: #000000;
	font-size: 95%;
	font-weight: normal;
	margin-top: 0;
}

a.linktobutton:focus, a.linktobutton:hover {
	border-color: #3079ED;
	border-style: solid;
}

#main .full_width {
	margin-top: 1em;
	margin-bottom: 1em;
}

#main input, #main  label, #main  radio, #main select, #main textarea, #main checkbox {
	vertical-align: middle;
}

/* SDP: Why does this list each [type="xyz"] individually instead of just using #main input:focus ?
        Are some omitted? If so, why? Please comment to document this. */
#main input:focus, #main input[type="text"]:focus, #main input[type="date"]:focus,
#main input[type="url"]:focus, #main input[type="radio"]:focus, #main input[type="checkbox"]:focus,
#main select:focus, #main textarea:focus, #main input[type="file"]:focus {
	border: 1px solid #3079ED;
}
/* It may be possible to prune the above rule down to...
#main input:focus, #main select:focus, #main textarea:focus { ... }
So it doesn't have every [type=...] listed. */

#main input {
	min-height: 1.65em;
}

#main input, #main input[type="text"], #main input[type="date"], #main input[type="url"], #main textarea {
	padding-left: 2px;
	min-height: 1.5em;
	border: 1px inset #999999;
	vertical-align: middle;
}

#main textarea {
	min-height: 4em;
}

#main input[type="date"] {
	width: 8.5em;
}

#main label {
	min-height: 1.5em;
	line-height: 1.5em;
}

#main select {
	border: 1px inset #999999;
}

#main input[type="image"] {
	border: none;
	min-width: 16px;
	min-height: 16px;
	background-color: transparent;
	outline: none;
}

#main input[type="radio"], #main input[type="checkbox"] {
	background-color: transparent;
	min-width: 0.5em;
	margin: 0 0.2em;
	border: 1px solid transparent;
}

/* --- Button Set ---- */

#main .buttongroup, #main .buttongroup span, #main .buttongroup div {
	clear: both;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0;
}

#main .buttonset, #main .buttonset span, #main .buttonset div {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0;
}

#main .buttonset input,
#main .buttonset button,
#main input[type="submit"],input[type="submit"],
#main input[type="button"],input[type="button"],
#main .button {
	background-image: none;
	background-color: #FFFFFF;
	border-color: #999999;
	border-radius: 0 0 0 0; /* <--- SDP: This is the default. Is this restoring a zero radius that was set non-zero elsewhere? */
	border-style: outset;
	border-width: 1px 2px 2px 1px;
	cursor: pointer;
	font-size: 0.91em;
	padding: 1px 5px;
}

#main .buttonset input:focus, #main .buttonset input:hover,
#main .buttonset button:focus, #main .buttonset button:hover,
#main input[type="submit"]:focus, #main input[type="submit"]:hover,
input[type="submit"]:focus, input[type="submit"]:hover,
#main input[type="button"]:focus, #main input[type="button"]:hover,
input[type="button"]:focus, input[type="button"]:hover,
#main .button:focus,#main .button:hover {
	border-color: #3079ED;
	border-style: solid;
}

#main .buttonset input:disabled, #main .buttonset button:disabled,
#main input[type="submit"]:disabled, input[type="submit"]:disabled,
#main input[type="button"]:disabled, input[type="button"]:disabled {
	border-color: #999999;
	border-style: outset;
	cursor: default;
}

#main .buttonset input.search {
	background: #ffffff url(/miv/images/buttons/search.png) right 40% no-repeat;
	padding-right: 20px;
	padding-left: 2px;
	background-size: 14px;
}


/* same as wysiwyg.css Used for TineMCE Editor layout and result list layout*/
.recordentry table {
	border-collapse: collapse;
}

.recordentry table,
.recordentry td,
.recordentry th {
	border-color: #000000;
	vertical-align: top;
}

.recordentry p,
.recordentry td,
.recordentry th {
	min-height: 1.5em;
}

.recordentry blockquote {
	margin:  0;
	padding-left: 2em;
}

li.indentoutdent {
	list-style-type: none;
	margin:  0;
	padding-bottom: 0;
	padding-top: 0;
}

#main select optgroup {
	color: #00f;
	font-style: italic;
	padding-left: 0px;
}

#main select option {
	color: #000000;
	font-style: normal;
}


/* Design My CV CSS For Tables*/
#main .mivDialog #workarea table,
#main .mivDialog #workarea td,
#main .mivDialog #workarea th {
	border-color: #000000;
}

#main .mivDialog #workarea p,
#main .mivDialog #workarea td,
#main .mivDialog #workarea th {
	min-height: 1.5em;
}

#main .mivDialog #workarea p {
	margin: 0;
	padding: 0;
}

#main .mivDialog #workarea table {
	border-collapse: collapse;
}


#main  .mivDialog fieldset.fieldblock {
	background: none repeat scroll 0 0 transparent;
	border: thin solid #444444;
	padding: 0.35em 0.625em 0.75em;
}

#main .mivDialog fieldset.fieldblock legend {
	font-weight: bold;
}


/* datepicker div should be initially hidden */
#ui-datepicker-div {
	display: none;
	min-width: 20em;
}

.sequence {
	font-weight: bold;
	text-align: left;
}


html.js .unscripted {
	display: none;
}

#main .mivlink {
	color: #0033FF;
}


.ui-autocomplete-loading {
	background: white url('/miv/images/jquery-ui/ui-anim_basic_16x16.gif') right center no-repeat;
}

.mivautocomplete {
	background-color: transparent;
	display: inline;
	padding-left: 1.5em;
}

.usepopups #main .mivDialog {
	width: 55em;
}

.usepopups #main {
	padding: 0 0 0 0.7em;
}

.validateTips {
	font-size: 95%;
	margin: 1em 0 0 0;
	padding-left: 0.75em;
	color: #cd0a0a;
}

#tipsbox,.tipsbox, #popuperrors {
	margin-left: 1em;
	width: 54em;
}

#result-message {
	font-size: 2em;
	font-size: 1.55em;
	margin: 1em 0;
}
#result-message #successbox {
	padding-left: 1.3em;
}

#main .ui-validate-error {
	border: 1px solid #cd0a0a/*{borderColorError}*/;
	background: #fef1ec/*{bgColorError}*/ url(/miv/images/jquery-ui/ui-bg_inset-soft_95_fef1ec_1x100.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/;
}

#main #errormessage a, .errormessage a {
	color: #D53344;
	font-size: 92%;
}

#main #errormessage a:hover,
#main #errormessage a:focus,
.errormessage a:hover,
.errormessage a:focus {
	color: #77160B;
}


#main input[readonly] {
	background-color: transparent;
	border: medium none;
}

#main input[readonly]:focus {
	/* This 'changes' the above "border: medium none;" to be "border: medium none;" when it gets the focus?
	   Is it overriding a "input:focus" rule with a [readonly] version? */
	border: medium none;
}

#dialog-message {
	background: url("/miv/images/jquery-ui/ui-bg_fine-grain_15_ffffff_60x60.png") 50% 50% transparent;
}

#main #locationblock
{
	display: inline-block;
}

#main #provinceblock,
#main #cityblock {
	float: left;
	display: inline;
	margin-bottom: 1em;
}

#main #provinceblock {
	margin-right: 2em;
}

.ui-dialog-buttonset button.ui-button,
.buttonset .ui-button,
button.ui-state-default,
.ui-widget button.ui-state-default {
	border: 1px solid #838383;
	color: black;
	opacity: 1;
}
.ui-dialog-buttonset button.ui-button:disabled,
.buttonset .ui-button:disabled,
button.ui-state-default:disabled,
.ui-widget button.ui-state-default:disabled {
	color: #777; /* computed color of an unstyled disabled button */
}

/* css for datepicker icon*/
#main .ui-datepicker-trigger {
	position: relative;
	left: 3px;
	top: 1px;
	vertical-align: top;
}

/* granteditform.jsp secific */
#main #grantdatespan .ui-datepicker-trigger {
	top: 3px;
}

.ui-datepicker-calendar a.ui-state-default {
	border: 1px solid #D3D3D3;
}

html.js div.ui-datepicker td.ui-datepicker-today .ui-state-highlight
{
	color: black;
	border-color: #999 #000 #000 #999;
}
html.js div.ui-datepicker td.ui-datepicker-current-day .ui-state-active
{
	font-weight: bold;
	background: #F2EBCC;
	border-color: red;
}

.qtip-content p {
	margin: 0.5em 0;
}

span.section-description {
	color: #2A120A;
	font-size: 1.1em;
	font-weight: bold;
}

html.js #main textarea.mceEditor {
	display: none;
}

#main .header {
	background-color: #FFFFFF;
	padding: 0 5px 2px;
}

html.SYS_ADMIN.prod body #main .header {
	background-color: #FFF4F4;
}

html.js .percentageofreturn {
	display: inline;
}

.percentageofreturn {
	display: none;
}

#main #percentageofreturn {
	background-color: #FFFFFF;
	border: 1px inset #999999;
}

#main .hidden {
	display: none;
}

html.js  #listarea span[class$="additional-records"] ul li,
#listarea span[class$="additional-records"] ul li
{
	list-style-type: disc;
}

html.js  #listarea span[class$="additional-records"] ol li,
#listarea span[class$="additional-records"] ol li
{
	list-style-type: decimal;
}

.scrollFixIt.ui-icon:focus,
.scrollFixIt.ui-icon:hover {
	background-image: url("/miv/images/jquery-ui/ui-icons_2694e8_256x240.png");
}

/* Styles for qTip : Start */
/* creating bright-gold qtip style using UC Davis bright gold (PMS 110)
   More details visit:
		http://identitystandards.ucdavis.edu/graphic-standards/colors.html
*/
.qtip.miv-qtip {
	font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-radius: 4px;
}

/* CSS class names should not include words that describe how an element appears ("gold")
   This is expressly called out in the "HTML for MIV" guide at
   https://ucdavis.jira.com/wiki/display/MIV/HTML+for+MIV#HTMLforMIV-NamingClassesandStyles
*/
.miv-qtip.qtip-bright-gold,
.miv-qtip .qtip-content,
.miv-qtip .ui-widget-header,
.miv-qtip.qtip-bright-gold .qtip-titlebar {
	background: none repeat scroll 0 0 #ECD47F; /* UC Davis bright gold (PMS 110) - 50%*/
}

.miv-qtip .qtip-content .qtip-content-box {
	background: none repeat scroll 0 0 #F8EECC; /* UC Davis bright gold (PMS 110) - 20%*/
}

.miv-qtip.qtip-bright-gold {
	border-color: #DAAA00; /* UC Davis bright gold (PMS 110) - 100% */
}

.miv-qtip .qtip-content {
	padding: 0;
}

.miv-qtip .qtip-content .qtip-content-box {
	border-radius: 4px;
	color: #5C471E;
	line-height: 1.35em;
	margin: 0.5em;
	font-size: 95%;
	padding: 0.5em;
}

.miv-qtip .qtip-titlebar .qtip-close {
	margin: -5px 5px 0 0;
}


.miv-qtip.qtip-bright-gold .qtip-titlebar {
	border-radius: 4px;
	padding: 0.6em 0.6em 0.2em;
}

.miv-qtip.qtip-bright-gold .qtip-title {
	font-size: 100%;
	color : #660000;
}

.miv-qtip .ui-icon-close:focus,
.miv-qtip .ui-icon-close:hover {
	color: #3079ED;
}

.miv-qtip .qtip-titlebar .ui-icon-close {
	height: 13px;
	padding: 1px 0;
}

.miv-qtip.qtip-small {
	min-width: 50px;
	max-width: 250px;
}

.miv-qtip.qtip-medium {
	min-width: 100px;
	max-width: 350px;
}

.miv-qtip.qtip-large {
	min-width: 200px;
	max-width: 450px;
}

.miv-qtip.qtip-xlarge {
	min-width: 300px;
	max-width: 550px;
}
/* Styles for qTip : End */

#main div.designbuttongroup {
	height: 2.25em;
	width: 100%;
}


div#main .checkuncheck-buttongroup {
	display:none;
}

html.js div#main .checkuncheck-buttongroup {
	display:inline;
}

#main .left {
	float: left;
	display: inline-block;
}

#main .right {
	float: right;
	display: inline-block;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
