/* ----- Main style sheet for Patents ----- */

@import url(expandable.css) screen;

fieldset {
	margin-bottom: 1em;
}

html.js .requiredfieldlegend {
	display: none;
}

/* This rule helped prevent wrapping the month and year controls in the head
 * of the datepicker.   Sometimes the two controls would be split onto separate
 * lines, but I haven't seen that lately.
 * If that recurs uncomment this rule as the first try to fix it.
*/ /*
div.ui-datepicker {
	width: auto !important;
}*/

/* vim:ts=8 sw=8 noet sr:
*/
