@CHARSET "UTF-8";

#main {
	min-width: 50em;
}

#main #listarea {
	background: url("/miv/images/jquery-ui/ui-bg_fine-grain_15_ffffff_60x60.png") repeat scroll 50% 50% #FFFFFF;
	border: 1px solid #D4D1BF;
	margin: 0.5em 0;
	padding-bottom: 1em;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#main #listarea ul.itemlist {
	border-color: #CBC7BD;
	border-style: solid;
	border-width: 0 0 1px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main #listarea .dossiercount {
	color: #453821;
	font-weight: bold;
	margin: 0;
	padding: 5px;
}

#main #listarea ul.itemlist li.records {
	border-top: 1px solid #CBC7BD;
	margin: 0;
	padding: 0.25em 0 0.25em 0.5em;
}

#main #listarea ul.itemlist li.odd {
	background-color: #F2EBCC;
}

#main #listarea ul.itemlist li.even {
	background-color: #FFFFFF;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */

