body {
    background-color: #FFFFFF;
    color: #000000;
    font: 12pt Helvetica;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
}

#main, #mivheader, #non-prod-warning, #navbar, #proxy, #breadcrumbs, #footer {
    display: none;
}

#printpage .decisiontype {
    font: 16pt Helvetica;
    text-align:center;
    font-weight:bold;
    margin-bottom: 2pt;
}

#printpage .candidate {
    font: 11pt Helvetica;
    text-align:center;
}

#printpage .selections li {
    list-style: none; /* this removes the list marker */
}

#printpage .selections li {
    text-align: left;
    margin:5px;
}

#printpage .selections {
    margin: 5px;
}

.selections li:before {
    content:'__ ';
}

#ifotherPrint {
    padding-left: 3em;
    margin-top: 5px;
    margin-bottom: 15px;
}

#printpage .commentslabel {
    margin-top: 20px;
   font-weight:bold;
}

#printpage .commentslabel:after {
   font-weight:bold;
   content: ':';
}

#printpage .commentsarea {
   font-weight:normal;
   margin:5px 5px 20px 5px;
   padding:5em;
   border:none;
}

#printpage .signature {
   font-weight:bold;
   float:left;
}

#printpage .signature .signatureline {
   font-weight:bold;
    padding-right: 25em;
    border-bottom:solid;
}

#printpage .date {
    font-weight:bold;
    text-align: right;
}

#printpage .date .dateline {
    font-weight:bold;
    padding-right: 10em;
    border-bottom:solid;
}

#printpage .signer {
    font-weight:bold;
    margin-left:10em;
    padding: 10px;
}

