div#character_map {
	display: block;
	cursor: default;
}

div#char_palette,
div.dojoFloatingPaneClient,
div.dojoFloatingPaneResizebar
{
	/*background-color: #ccd4e0;*/
}
div#char_palette {
	/*display: none;*/
	visibility: visible;
}

div#char_palette body {
	/*display: none;*/
	margin: 1px;
}

.dojoxFloatingPane {
	min-width: 359px;
	min-height: 425px;
	max-width: 359px;
	max-height: 425px;
	-webkit-box-shadow:none;
}

div#character_map table {
	background-color: white;
	font-family: Verdana,Helvetica,Arial,sans-serif;/* !important;*/
	width: 335px;
}

div#character_map table tr td.charmap {
	padding: 4px;
	cursor: pointer;
}

div#character_map table tr td.charmap:hover, div#character_map table tr td.charmap:focus {
	background-color: #F2EBCC;
}

div#character_map table tr th {
	background-color: #ccc;
}

div#char_palette .dojoxFloatingPaneContent {
	background-color:#F0F0EE;
	padding:12px;
	width: auto;
	height: auto;
	overflow:visible;
	border-left: 1px solid #0A2A22;
	border-right: 1px solid #0A2A22;
	border-bottom: 1px solid #0A2A22;
}

div#char_palette .dojoxFloatingPaneCanvas {
	background:transparent;
}


div#char_palette .dojoxFloatingPaneTitle {
	color:white;
	font-weight:bold;
}

div#char_palette .dojoxFloatingCloseIcon {
	background-image: url("/miv/images/floatingPaneClose.gif")
}


div#character_map table tr td.charmap:hover,
div#character_map table tr td.charmap:hover a,
div#character_map table tr td.charmap:focus,
div#character_map table tr td.charmap:focus a
{
	background-color: #F2EBCC !important;
	color: #2B6FB6;
}

div#character_map table tr td.buttonbar {
	padding: 0px 0px 0px 3px;
}

div#character_map table tr td.buttonbar:hover,
div#character_map table tr td.buttonbar:focus {
	background-color: #FFF;
}
div#character_map table tr td.buttonbar div {
	display: inline;
	float: left;
}
div#character_map table tr td.buttonbar div#tagbuttons {
	margin-top: 3px;
}
div#character_map table tr td.buttonbar div#taghelptext {
	/*font-size: 7pt;*/
	margin-left: 0.5em;
	margin-top: 0.3em;
	width: 76%;
	width: 20em;
	min-width: 25em;
	azimuth: center;
	vertical-align: middle;
}

div#character_map table tr td.disable {
	background-color: #D3D3D3;
	text-align: center;
}

div#character_map table tr td.disable:hover,
div#character_map table tr td.disable:focus {
	background-color: #D3D3D3;
}

div#character_map table tr td.warning {
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 9pt;
}

div#character_map  table tr td.charmap {
	border: 1px solid #AAAAAA;
	color: #000000;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	width: 18px;
}

div#character_map table tr td {
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 10px;
}

@media print {
	div#char_palette {
		display: none !important;
		visibility: hidden !important;
		z-index: 0 !important;
	}
}

div#character_map  #tagbuttons .subtag, div#character_map  #tagbuttons .suptag {
	cursor: pointer;
}

/* vim:ts=8 sw=8 noet sr:
*/
