div.mivDialog .appointment {
	display: inline;
	margin-left: 0;
}
/* display special message */
div.mivDialog .specialmsg {
	display: inline;
	font-weight: bold;
	float: right;
	width: 60%;
}
div.mivDialog .appointment .buttonset {
	display:inline-block;
	width: 4.5em;
	margin-top: 0 !important;
	margin-right: 2em !important;
}
/* space the checkboxes out */ /* their headings do enough to space them out */
div.mivDialog .appointment input[type="checkbox"] {
	margin-left: 0.5em !important;
}

/* set the minimum width of edit form */
#main #editUserForm div.wideDialog {
	min-width: 83em;
}
div.mivDialog .formline {
	min-width: 82em; /* should be _narrower_ than the dialog min-width (above) */
}
div.mivDialog .formline select {
	min-width: 20em;
}

/* Center the different length labels above the checkboxes */
.appointment label.heading {
	display: inline-block;
	position: relative;
	top: -3ex;
	left: -4em;
	width: 6.5em;
	text-align: center;
}
.appointment .options {
	display: none;
}
.appointment .options.CANDIDATE {
	display: inline;
}
/* Make a disabled checkbox *look* disabled */
.appointment .options input[type="checkbox"]:disabled {
	opacity: 0.5;
}

#main .minBox {
	display:inline;
}

/* vim:ts=8 sw=8 noet sr:
*/
