/*
 * Style for content created with widget-datatables-serverside.js
 */
td.details-control {
	cursor: pointer;
}
td.details-control:before {
	content: '\0025B6'; /* Unicode "Black Right-Pointing Triangle" */
}
tr.shown td.details-control:before {
	content: '\0025BC'; /* Unicode "Black Down-Pointing Triangle" */
}
th[scope=col] {
	text-align: left;
}
th[scope=row] {
	text-align: right;
}